.holder {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 30px 50px;
	max-width: 440px;
	position: relative;
}

.video_thumbnail {
	width: 340px;
	transition: 0.25s;
}

.thumbnail_holder{
	cursor: pointer;
	height: 251px;
}

.thumbnail_holder:hover img {
	filter: brightness(70%);
}

.thumbnail_holder:hover .play-icon {
	opacity: 1;
}

.holder h1 {
	font-size: 22px;
	padding-top: 10px;
}

.play-icon {
	position: absolute;
	width: 80px;
	left: 180px;
	bottom: 50%;
	opacity: 0;
	transition: 0.25s;
}